<!DOCTYPE html>
<html>
  <head>
    <title>Family Feud</title>
    <link rel='stylesheet' href='../stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/JavaScript" src="../javascripts/jquery.min.js"></script>
    <script type="text/JavaScript" src="../javascripts/application.js"></script> 
    <script type = "text/javascript">
      $(document).ready(function(){
          var socket = io.connect('http://localhost:3000');
          socket.on('userlist', function (data) {
            $("#userList").html("");
            data.forEach(function(user){
                for(var key in user){
                    var newLi = document.createElement("li");
                    newLi.innerHTML = user[key];
                    $("#userList").append(newLi);
                }
            });
          });
          $("#submitUsername").click(function(){
            console.log("Sending username");
            var name = $("#username").val();
            socket.emit("signup",name);
            $("#signupForm").fadeOut();
          });
          socket.on('startgame',function(data){
            $("#signup").fadeOut("slow",function(){
                $("#enterTweet").fadeIn();
            });
            console.log("Game starting");
            $("#trend").html(data.trend);
          });
          $("#submitTweet").click(function(){
            var tweet = $("#inputTweet").val();
            socket.emit("tweet",tweet);
            $("#tweetForm").fadeOut("slow",function(){
                $("#waiting").fadeIn();
            });
          });
          socket.on("voting",function(data){
            console.log("Voting");
            $("#waiting").fadeOut("slow",function(){
                $("#waiting").css("display","none");
            });
            for (var i = 0; i < data.length; i++){
                var tweetObj = data[i];
                for(var key in tweetObj){
                    var newTweet = $(document.createElement("li"));
                    newTweet.attr("userId",key);
                    newTweet.html(tweetObj[key]);
                    newTweet.addClass("voteTweet");
                    $("#tweetList").append(newTweet);
                }
            }
            attachVoteListeners();
          });
          
          function attachVoteListeners(){
            $(".voteTweet").click(function(){
                var userId = $(this).attr("userId");
                socket.emit("voteTweet",userId);
                disableVoting();
            });
          }
          
          function disableVoting(){
            $(".voteTweet").each(function(){
                $(this).addClass("voteTweetDisabled");
                $(this).removeClass("voteTweet");
            });
          }
          
          socket.on("winner",function(data){
            console.log("Showing Winner");
            $("#enterTweet").fadeOut("slow",function(){
                $("#winner").html(data.winner);
                $("#winningTweet").html(data.tweet);
                $("#showWinner").fadeIn();
            });
          });
      });
    </script>
  </head>
  <body>
    <div id="wrapper">
      <div align="center"><img src="images/logo.png" height="150px" /></div><br />
      <div id="team1">
        Team 1
      </div>
      <div id="score1">950</div>
      <div id="team2">
        Team 2
      </div>
      <div id="score2">400</div>
      <div id="currentPlayer">John</div>
      <div id="question">Name an ingredient you'll find in most Italian food</div>
      <div id="board">
        <ul>
          <li id="answer1"><div class="cover" align="center"><span class="number">1</span></div></li>
          <li id="answer2"><div class="cover" align="center"><span class="number">2</span></div></li>
          <li id="answer3"><div class="cover" align="center"><span class="number">3</span></div></li>
          <li id="answer4"><div class="cover" align="center"><span class="number">4</span></div></li>
          <li id="answer5"><div class="cover" align="center"><span class="number">5</span></div></li>
          <li id="answer6"><div class="cover" align="center"><span class="number">6</span></div></li>
        </ul>
      </div>
        Your Answer: <input type="text" name="answer" id="answer" size="40">
        <span class="submit">SUBMIT</span>
        <span class="submit">PASS</span>
        <div id="timer">:14</div>
    </div>
  </body>
</html>